<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
<add key="FilePath" value="C:\Users\user\Documents\Visual Studio 2015\Projects\Client-Side\Transfers.txt"></add>
  <add key="NomeUser" value="no"></add>
  <add key="MAC" value="no"></add>
</appSettings>
</configuration>